@model MVC_Blog_ALV.Models.PostDetailsViewModel

<div class="detail-post">
    <dl class="dl-horizontal">       
        <dd>
            <h2 class="title">@Html.DisplayFor(model => model.Title)</h2> (@Html.DisplayFor(model => model.Date))
        </dd>
        <hr />
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <hr />

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index")
</p>
